td{
	font: 12px arial;
	color: grey;
	line-height: 2em;
}
a{
	color: #727272;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.c1{
	font-size: 14px;
	color: #b9f605;
	font-weight: bold;
}
.c1 a{
	color: white;
}
.c1 a:hover{
	color: #b9f605;
	text-decoration: none;
}
#c2{
	color: #fdb306;
}
